

.avatar img {
  background-color:white;
  border-style: dashed;
  border-width: 5px;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
}

.card-txt {
  font-family: 'VT323', monospace;
  font-size: 40px;
}

.hair {
  width: 315px;
  position: absolute;
  bottom: 180px;
  left: -10px;
}

.headacc {
  width: 315px;
  position: absolute;
  bottom: 168px;
  left: -16px;
}

.nose {
  width: 315px;
  position: absolute;
  bottom: 180px;
  left: -10px;
}

.mouth {
  width: 315px;
  position: absolute;
  bottom: 205px;
  left: -10px;
}

.eyes {
  width: 315px;
  position: absolute;
  bottom: 165px;
  left: -10px;
}

@media (max-width: 426px) {
  #parts {
    top: 175px;
    left: 0px; 
  }

  .eyes {
    bottom: 220px;
  }
  .mouth {
    bottom: 70px;
    left: 0px;
  }
}

/* @media (max-width: 769px) {
  #parts {
     top: 100px; 
  }
   .mouth {
    bottom: 145px;
    left: -10px;
  } 
}

@media (max-width: 1020px) {
  #parts {
     top: 100px; 
  }
   .mouth {
    bottom: 145px;
    left: -10px;
  } 
}  */

#hair {
  display: flex;
  text-align: center;
}

