
.avatar img {
  background-color:rgb(124, 111, 93);
  border-style: dashed;
  border-width: 5px;
  width: 300px;
  height: 1000px;
  height: 100%;
  position: relative;

}
.hair {
  width: 315px;
  position: absolute;
  bottom: 235px;
  left: 0px;
}

.headacc {
  width: 315px;
  position: absolute;
  bottom: 180px;
  left: 0px;
}

.nose {
  width: 315px;
  position: absolute;
  bottom: 180px;
  left: 0px;
}

.mouth {
  width: 315px;
  position: absolute;
  bottom: 205px;
  left: 0px;
}

.eyes {
  width: 315px;
  position: absolute;
  bottom: 65px;
  left: 0px;
}


/*
@media (max-width: 426px) {
  #parts {
    top: 95px;
  }
  .mouth {
    bottom: 150px;
    left: -10px;
  }
}

@media (max-width: 769px) {
  #parts {
    top: 100px;
  }
  .mouth {
    bottom: 145px;
    left: -10px;
  }
}
 
@media (max-width: 1320px) {
  #parts {
    top: 100px;
  }
  .mouth {
    bottom: 105px;
    left: -10px;
  }
} */

