
.content{
  width: 300px;
  margin-bottom: 10px;
  padding: 10px;
} 
.Next{
  margin-left: 10px;
  background-color: cadetblue;
}
.Prev{
  margin-right: 10px;
  background-color: cadetblue;
} 
#editor{
  background-color: lightcoral;
  height: 100%;
  width: 100%;
}

#editor h1 {
  margin-bottom: 0px;
  color: white;
  text-align: center;
}
#editor h2 {
  margin-bottom: 0px;
}

#editor .button {
  font-size: 1.25rem;
  background-color: green;
  color:lightgreens;
  padding: 10px 10px;
  border-radius: 0.25rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 50px;
 margin-left: 625px;
 
}
#editor #start{
  margin-left: 597px;
}
#editor .button:hover {
  cursor: pointer;
  background-color: transparent;
  border-color: green;
}
#editor .button-outline {
  font-size: 1rem;
  background-color: transparent;
  color: black;
  padding: 0px;
  border-radius: 0.25rem;
  border: 1px solid white;
  transition: background-color 0.2s ease-in-out;
  margin: 0;
}
#editor .button-outline:hover {
  cursor: pointer;
  background-color:lightgreen;
  border-color: lightgreen;
  color: black;
}
#editor .button-back {
  font-size: 1rem;
  background-color: transparent;
  color:black;
  padding: 0;
  border: none;
  text-decoration: underline;
  transition: background-color 0.2s ease-in-out;
  margin: 0 ;
}
#editor .button-back:hover {
  cursor: pointer;
  color: green;
}

/*tryy 
@media (max-width: 426px) {
  #parts {
    top: 95px;
  }
  .mouth {
    bottom: 150px;
    left: -10px;
  }
}

@media (max-width: 769px) {
  #parts {
    top: 100px;
  }
  .mouth {
    bottom: 145px;
    left: -10px;
  }
}
 
@media (max-width: 1320px) {
  #parts {
    top: 100px;
  }
  .mouth {
    bottom: 105px;
    left: -10px;
  }
} */

#parts {
  position: absolute;
  bottom: 175px;
}

.mouth {
  bottom: 200px;
}

