.content{
  width: 300px;
  margin-bottom: 10px;
  padding: 10px;
} 
.Next{
  margin-left: 10px;
  background-color: #FAF5E4;
}
.Prev{
  margin-right: 10px;
  background-color: #FAF5E4;
}

.card {
  position: relative;
}
#editor{
  background-color: #FF6363;
  height: 100%;
  width: 100%;
}

#editor h1 {
  margin-bottom: 0px;
  color: white;
  text-align: center;
}
#editor h2 {
  margin-bottom: 0px;
}

#editor .button {
  font-size: 1.25rem;
  background-color: #FAF5E4;
  opacity: 85%;
  color:lightgreens;
  padding: 10px 10px;
  border-radius: 0.25rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 50px;
  font-size: 50px;
 
}

.button{
  font-family: 'VT323', monospace;
  
}


#editor #start{
  font-family: 'VT323', monospace;
}
#editor .button:hover {
  cursor: pointer;
  background-color: transparent;
  border-color: black;
}
#editor .button-outline {
  font-size: 1rem;
  background-color: transparent;
  color: black;
  padding: 0px;
  border-radius: 0.25rem;
  border: 1px solid white;
  transition: background-color 0.2s ease-in-out;
  margin: 0;
}
#editor .button-outline:hover {
  cursor: pointer;
  background-color:lightgreen;
  border-color: lightgreen;
  color: black;
}
#editor .button-back {
  font-size: 1rem;
  background-color: transparent;
  color:black;
  padding: 0;
  border: none;
  text-decoration: underline;
  transition: background-color 0.2s ease-in-out;
  margin: 0 ;
}
#editor .button-back:hover {
  cursor: pointer;
  color: green;
}


@media (min-width:310px){
  #parts{
    position: absolute;
    bottom: 100px;
  }

}
@media (min-width: 1020px){
  #parts {
    position: absolute;
    bottom: 120px;
    left: 108px;
  }
  
  .mouth {
    bottom: 140px;
    left: 105px;
  }

  .headacc {
    top: -110px;
    left: -400px;
  }

  .eyes {
    top: -193px;
    left: -395px;
  }
}


@media (min-width: 1370px){
  #parts {
    left: 300px;
    bottom: 430px;
  }
  .mouth {
    bottom: 450px;
    left: 300px;
  }
  .headacc {
    top: -110px;
    left: -458px;
  }

  .eyes {
    top: -195px;
    left: -455px;
  }
}
